/*
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@600&display=swap");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  font-size: 62.5%;
  --title-family: 'Montserrat', sans-serif;
  --text-family: 'DM Sans', sans-serif;
}

body{
  display: grid;
    place-items: center;
    height: 100vh;
    background: linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD 100%);
}

.card{
  background-color: white;
  margin: 0 auto;
  width: min-content(42.8rem, 90%);
  padding: 4.8rem 6.4rem 6.4rem;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h1{
  font: 600 2.4rem var(--title-family);
  color: #34355B;
  line-height: 3rem;
  margin-bottom: 1.6rem;
  text-align: center;
}

.card p{
  font: 400 1.6rem var(--text-family);
  color: #34355BCC;
  line-height: 2.4rem;
}

form{
  display: grid;
  gap: 2rem;
  justify-content: center;
  margin-top: 3.5rem;
}

input{
  background: #DCE2E9;
  border: none;
  border-radius: 4px;
  color: #34355B;
  font: 400 1.6rem var(--text-family);
  line-height: 2rem;
  padding: 1.6rem;
}

button{
  border: none;
  border-radius: 4px;
  padding: 1.6rem;
  font: 700 1.6rem var(--text-family);
  line-height: 2rem;
  background-color: #7879F1;
  color: white;
  cursor: pointer;
  transition: background .2s;
}

button:hover{
  background-color: #5b5bb9;
}
*/